html {
    height: 100%;
    font-family: Optima, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(0deg, #F5F5DC 0%, #98D1FAFF 100%);
}

#twoLists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}
#tasksBox {
    margin-right: 2%;
    padding-right: 2%;
    border: 5px solid black;
    border-radius: 10px;
    width: 50%;
}
#completedTasksBox {
    margin-left: 2%;
    border: 5px solid black;
    padding-right: 2%;
    border-radius: 10px;
    width: 50%;
}
ul {
    list-style-type: circle;
}
h3 {
    border-bottom: 1px solid black;
}