html {
    height: 100%;
    font-family: Optima, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    background-size: 10% 5%;
    background-position: 0px -100px;
    background-image: conic-gradient(from 310deg at 50% 50%, #93FFD2FF 27%, #FFC079FF 28%);
}
header {
    font-size: 1.3em;
    font-style: oblique;
    background-color: #fcfce8;
    width: 35%;
    align-self: center;
    border: 12px solid #93FFD2FF;
    border-radius: 10px;
}
h1 {
    font-variant: small-caps;
}

#twoLists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}
#tasksBox {
    margin-right: 2%;
    padding: 2%;
    border: 12px solid #93FFD2FF;
    border-radius: 10px;
    width: 50%;
    background-color: #fcfce8;
}
#completedTasksBox {
    margin-left: 2%;
    border: 12px solid #93FFD2FF;
    padding: 2%;
    border-radius: 10px;
    width: 50%;
    background-color: #fcfce8;
}
#completedTaskList {
    opacity: 0.6;
    color: green;
    text-decoration: line-through;
}
ul {
    list-style-type: circle;
}
li {
    border-bottom: 1px dotted #ccc;
    border-collapse: collapse;
    margin: 2%;
    padding-bottom: 3px;
}
h3 {
    border-bottom: 1px solid black;
    font-style: normal;
}